.main {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
  background-color: black;
  color: white;
}

.sub-main {
  display: flex;
}

.shift {
  margin-right: 5px;
}
