.outer {
    width: 500px;
    height: 200px;
    background-color: grey;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;

}

.inner {
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
}

.top {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}